{% extends 'partners/partner_base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
{% endblock %}

{% block dashboard-nav %}
  <ul>
    <li class="active"><a href="{% url 'partners:dashboard' %}"><i class="fa fa-list"></i> Транзакции</a></li>
    <li><a href="{% url 'partners:my_perks' %}"><i class="fa fa-gift"></i> Предложения</a></li>
    <li><a id="MLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> Аккаунт</a>
      <ul class="dropdown-menu" aria-labelledby="MLabel">
        <li><a href="{% url 'partners:change_password' %}"><i class="fa fa-key"></i> Сменить пароль</a></li>
      </ul>	
    </li>
    <li><a href="{% url 'partners:logout' %}"><i class="fa fa-power-off"></i> Выйти</a></li>
  </ul>	
{% endblock %}
{% block dashboard-content %}
<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>Транзакции</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="transactions_table" class="table table-bordered table-hover">
      <thead class="bg-info">
        <tr>
          <th class="col-md-2">Дата</th>
          <th class="col-md-2">Предложение</th>
          <th class="col-md-2">Имя</th>
          <th class="col-md-2">Фамилия</th>
          <th class="col-md-2">Компания</th>
          <th class="col-md-2">Код транзакции</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
        <tr>
          <td>{{ t.date_created }}</td>
          <td>{{ t.perk.title }}</td>
          <td>{{ t.member.first_name }}</td>
          <td>{{ t.member.last_name }}</td>
          <td>{{ t.member.company.name }}</td>
          <td><strong>{{ t.code }}</strong></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#transactions_table').DataTable({
			"language": {
					"decimal":        "",
					"emptyTable":     "У Вас пока нет транзакций",
					"info":           "Показано _START_ - _END_ из _TOTAL_ записей",
					"infoEmpty":      "Показано 0 - 0 из 0 записей",
					"infoFiltered":   "(фильтр из всего _MAX_ записей)",
					"infoPostFix":    "",
					"thousands":      ",",
					"lengthMenu":     "Показывать _MENU_ на странице",
					"loadingRecords": "Загрузка...",
					"processing":     "Обработка запроса...",
					"search":         "Поиск по коду:",
					"zeroRecords":    "Ничего не найдено",
					"paginate": {
							"first":      "Начало",
							"last":       "Конец",
							"next":       "Вперед",
							"previous":   "Назад"
					}
			},
      "order": [[ 0, "desc" ]],
});
} );
</script>
{% endblock %}
