{% extends 'base.html' %}

{% block header %}
  {% include "partners/partials/navigation.html" %}
{% endblock %}

{% block content %}

<div class="container">

  <h2>Транзакции</h2>
  {% for t in transactions %}
  <p>
  {{ t.date_created }}
  {{ t.member.email }}
  {{ t.member.first_name }}
  {{ t.member.last_name }}
  </p>
  {% endfor %}
	<br>

</div>

{% endblock %}

{% block footer %}
<footer class="footer" style="background-color: #333333">
	<div class="center-block">
    <br>
		<h5 class="text-center" style="color: #ffffff">Benefits 2017</h5>
    <br>
	</div>
</footer>
{% endblock %}
