{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="primary-bg">
	<div class="container">
    	<div id="login_signup">
            <div class="form_wrap_m">
            	<div class="white_box">
                	<h3>Вход для партнеров Benefits</h3>
                  {% if error %}
                  <div class="alert alert-dismissible alert-danger">
                    {{ error }}
                  </div>
                  {% endif %}
                  {% crispy form %}
                    <p><a href="lost-password">Забыли пароль?</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
