<header id="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <div class="logo"> <a href="{% url 'perks:index' %}">Benefits</a> 
          {% if request.user.member.company %}
          <a><img class="customer_logo"  src="{{ request.user.member.company.logo.url }}"></a>
          {% endif %}
          </div>
          <div>
          </div>
        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navigation">
        {% if request.user.is_company_admin %}
        <ul class="nav navbar-nav pull-left">
          <li><a href="{% url 'customers:dashboard' %}"><i class="fa fa-cogs"></i>Панель управления</a></li>
        </ul>
        {% endif %}
        {% if request.user.is_member %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'members:my_perks' %}"><i class="fa fa-gift"></i>Мои предложения</a></li>
          <li class="menu-item-has-children">
            <a href="#"><i class="fa fa-user-o"></i>{{ request.user.email }}</a> <span class="arrow"></span>
             <ul class="sub-menu">
                <li><a href="{% url 'members:edit_info' %}">Управление аккаунтом</a></li>
                <li><a href="{% url 'members:change_password' %}">Смена пароля</a></li>
                <li><a href="{% url 'members:logout' %}">Выход</a></li>
            </ul> 
          </li>
        </ul>
        {% else %}
          <div class="submit_listing">
          <a class="btn login_btn" href="{% url 'members:sign_in' %}"><i class="fa fa-sign-in"></i>&nbsp;Вход</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
