html, body {
	height: 100%;
	min-height: 100%;
}

.dataTables_wrapper .pagination a {
	font-size: 14px;
}

.dataTables_wrapper input[type=search] {
	height: 30px;	
}

.dataTables_wrapper input[type=checkbox] {
	height: 15px;
	width: 30px;
}

.dataTables_wrapper select {
	padding: 0 10px;
}

.customer_logo {
	max-width: 100px;
	max-height: 40px;
}

.perks-search input, button {
	background: #fff;
	height: 39px;
}

.perks-search i {
	display: block;
}

#perks-navigation {
	background-color: #eee;
	padding: 15px 0;
}

#perks-navigation a {
	color: #000;
	fill: #000;
}

#perks-navigation p {
	margin-bottom: 0;
}

#navigation .navbar-title {
	float: left;
	margin-top: 20px;
	margin-left: 45px;
}

#navigation .navbar-title h5 {
	color: #fff;
}

header .navbar.navbar-default{
	background:#fcfcfc;
	box-shadow:0px 0px 5px #ccc;
}

header #navigation .nav.navbar-nav a{
	color:#000;
}
header .submit_listing .btn.outline-btn{
	background:#38ccff;
	border:none;
	border-radius:0px;
}
header .submit_listing .btn.outline-btn:hover{
	background:#03aee9;
	border-color: #03aee9;	
}
header .submit_listing .login_btn {
	background: none;
	border: 1px solid #111;
	color: #111;
}

#perks_slider {
	padding: 120px 0;
}

.blue-overlay {
	background: rgba(3, 174, 233, 0.8) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.nav-pills a {
	fill: #000;
	color: #000;
}
.nav-pills a:hover {
	fill: #03aee9;
	color: #03aee9;
}
.nav-pills li {
	padding: 5px;
}

#category_menu {
	padding: 10px 0;
	background: #fff;	
}

#category_menu .category_item {
	background: #fff;
	text-align:center;
}

#category_menu p {
	margin-bottom: 0;
}

#category_menu .category_icon {
	background: none;
	margin: 0 auto;
	width: 70px;
}

#grid {
	background: #efefef;
}

#grid .listing_wrap {
	background: #fff;
}

.listing_header {
	margin: 30px auto 10px;
	padding: 12px 0;
	border: none;
}

.listing_header a {
	float: left;
	color: #000;
	font-weight: bold;
	margin: 15px 10px 15px auto;
}

.listing_header .active {
	text-decoration: underline;
}

.listing_img .discount {
	position:absolute;
	bottom:15px;
	left:15px;
	font-size: 16px;
	background: rgba(3, 174, 233, 0.9) none repeat scroll 0 0;
}

.listing_info .perk_title {
	height: 40px; 
}

.listing_info .perk_title h3 {
	margin-top: 10px;
	font-size: 14px; 
	color: #333;
}

.listing_info .partner_name h4 {
	font-size: 16px; 
	font-weight: 700;
	color: #111;
}

.listing_info .listing_review_info {
	margin: 16px -20px 0;
}

.listing_info .btn {
	height: 40px;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 22px;
	border: 2px solid #03aee9;
	text-transform: uppercase;
}

.listing_info .more_info_btn {
	float: left;
	color: #fff;
	background: #03aee9;
}

.listing_info .get_perk_btn {
	float:right;
	background: none;
	color:#111;
}

.listing_info .more_info_btn:hover {
	background: #03aee9;
	color: #fff;
}

.listing_info .get_perk_btn:hover {
	background: none;
	color: #111;
}

.listing_info p {
	color: #333;
}

.steps_wrap p {
	color: #333;
}

.footer_top {
	padding-top: 40px;
}

.footer_top h3 {
	margin-bottom: 40px;
}

.footer_top .support {
	margin: 20px 0;
}

.affix {
	z-index: 999;
	top: 0;
	width:100%;
}

.affix + section {
	padding-top: 132px;
}

#perk_detail_top {
	padding: 0;
}

@media (max-width: 960px) { 
	#perk_detail_top .container {
		padding: 0;
	}
}

#perk_detail_top .perk_table {
	background: #fff;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

#perk_detail_top .right_side {
	box-sizing: border-box;
	padding: 30px;
}

@media (min-width: 960px) {
	
	#perk_detail_top {
		padding: 40px 0;
	}
	
	#perk_detail_top .perk_table {
		background: #fff;
		display: table;
		table-layout: fixed;
		border-radius: 3px;
		width: 100%;
		height: 100%;
		position: relative;
	}

	#perk_detail_top .perk_row {
		display: table-row;
		width: 100%;
		height: 100%;
	}

	#perk_detail_top .left_side {
		display: table-cell;
		width: 50%;
		height: 100%;
		position: relative;
	}

	#perk_detail_top .left_side .discount {
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 20px;
		background: rgba(3, 174, 233, 0.9) none repeat scroll 0 0;
	}

	#perk_detail_top .right_side {
		display: table-cell;
		width: 50%;
		height: 100%;
		vertical-align: top;
	}

	#perk_detail_top .right_side h1 {
		font-size: 26px;
		margin-top: 0;
	}
	
	#perk_detail_top .right_side hr {
		margin: 15px 0;
	}

	#perk_detail_top .right_side .lead {
		font-size: 16px;
	}

	#perk_detail_top .lead {
		font-size: 18px;
		color: #111;
	}

	#perk_detail_top .get_perk_btn {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 45%;
	}

	#perk_detail_top .back_to_perks_btn {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 45%;
	}

}

#perk_detail_top .perk_info {
	width: 100%;
	height: 80%;
}

#perk_detail_top .perk_info h3 {
	margin: 0;
}

#perk_detail_top .perk_buttons {
	width: 100%;
	height: 20%;
	position: relative;
	border-top: 1px solid #999;
}

#perk_detail_top .get_perk_btn {
	display: block;
	text-align: center;
	border: 1px solid #03aee9;
	background: #03aee9;
	color: #fff;
	text-transform: uppercase;
	margin-top: 10px;
}

#perk_detail_top .back_to_perks_btn {
	display: block;
	border: 1px solid #111;
	background: none; 
	color: #111;
	text-transform: uppercase;
	margin-top: 10px;
}

#perk_detail_top .get_perk_btn:hover {
	background: #38ccff;
	border-color: #38ccff;
}

.modal-footer .btn {
	display: block;
	float: right;
	margin-left: 20px;
	border: 1px solid #03aee9;
}

.modal-footer .get_perk_btn {
	background: #03aee9;
	color: #fff;
}

.modal-footer .get_perk_btn:hover {
	background: #38ccff;
	border-color: #38ccff;
}

.modal-footer .back_btn {
	background: none;
	color: #111;
	border-color: #111;
}

#result {
	min-height: calc(100% - 163px);
	height: calc(100% - 163px);
}

#result .div_zindex {
	background: #fff;
	padding: 40px;
	border-radius: 3px;
}
