
.dataTables_wrapper .pagination a {
	font-size: 14px;
}

.dataTables_wrapper input[type=search] {
	height: 30px;	
}

.dataTables_wrapper input[type=checkbox] {
	height: 15px;
	width: 30px;
}

.dataTables_wrapper select {
	padding: 0 10px;
}

.customer_logo {
	max-width: 100px;
	max-height: 40px;
}

.perks-search input, button {
	background: #fff;
	height: 39px;
}

.perks-search i {
	display: block;
}

#perks-navigation {
	background-color: #eee;
	padding: 15px 0;
}

#perks-navigation a {
	color: #000;
	fill: #000;
}

#perks-navigation p {
	margin-bottom: 0;
}

#navigation .navbar-title {
	float: left;
	margin-top: 20px;
	margin-left: 45px;
}

#navigation .navbar-title h5 {
	color: #fff;
}

header .navbar.navbar-default{
	background:#fcfcfc;
	box-shadow:0px 0px 5px #ccc;
}

header #navigation .nav.navbar-nav a{
	color:#000;
}
header .submit_listing .btn.outline-btn{
	background:#38ccff;
	border:none;
	border-radius:0px;
}
header .submit_listing .btn.outline-btn:hover{
	background:#03aee9;
	border-color: #03aee9;	
}

#perks_slider {
	padding: 120px 0;
}

.blue-overlay {
	background: rgba(3, 174, 233, 0.8) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.nav-pills a {
	fill: #000;
	color: #000;
}
.nav-pills a:hover {
	fill: #03aee9;
	color: #03aee9;
}
.nav-pills li {
	padding: 5px;
}

#category_menu {
	padding: 10px 0;
	background: #fff;	
}

#category_menu .category_item {
	background: #fff;
	text-align:center;
}

#category_menu p {
	margin-bottom: 0;
}

#category_menu .category_icon {
	background: none;
	margin: 0 auto;
	width: 70px;
}

#grid {
	background: #efefef;
}

#grid .listing_wrap {
	background: #fff;
}

.listing_header {
	margin: 30px auto 10px;
	padding: 12px 0;
	border: none;
}

.listing_header a {
	float: left;
	color: #000;
	font-weight: bold;
	margin: 15px 10px 15px auto;
}

.listing_header .active {
	text-decoration: underline;
}

.listing_info .btn {
	height: 40px;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 22px;
	border: 2px solid #03aee9;
	text-transform: uppercase;
}

.listing_info .more_info_btn {
	float: left;
	color: #fff;
	background: #03aee9;
}

.listing_info .get_perk_btn {
	float:right;
	background: none;
	color:#111;
}

.listing_info .more_info_btn:hover {
	background: #03aee9;
	color: #fff;
}

.listing_info .get_perk_btn:hover {
	background: none;
	color: #111;
}

.listing_info p {
	color: #333;
}

.affix {
	z-index: 999;
	top: 0;
	width:100%;
}

.affix + section {
	padding-top: 132px;
}

#perk_detail_top .perk_table {
	background: #fff;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

#perk_detail_top .right_side {
	padding: 10px 30px 30px 30px;
}

@media (min-width: 960px) {
	
	#perk_detail_top {
		padding: 40px 0;
	}
	
	#perk_detail_top .perk_table {
		background: #fff;
		display: table;
		table-layout: fixed;
		border-radius: 3px;
		width: 100%;
		height: 100%;
		position: relative;
	}

	#perk_detail_top .perk_row {
		display: table-row;
		width: 100%;
		height: 100%;
	}

	#perk_detail_top .left_side {
		display: table-cell;
		width: 50%;
		height: 100%;
	}

	#perk_detail_top .right_side {
		display: table-cell;
		width: 50%;
		height: 100%;
		vertical-align: top;
	}

}

#perk_detail_top .perk_info {
	width: 100%;
	height: 70%;
}

#perk_detail_top .perk_buttons {
	width: 100%;
	height: 30%;
}

#perk_detail_top .get_perk_btn {
	float: right;
}
