{% extends 'dashboard.html' %}
{% load crispy_forms_tags static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
{% endblock %}

{% block navbar-title %}Панель управления{% endblock %}

{% block dashboard-nav %}
  <ul>
    {% if request.user.is_company_admin %}
    <li class="active"><a href="{% url 'customers:dashboard' %}"><i class="fa fa-cogs"></i> Панель управления</a></li>
    {% endif %}
    <li><a href="{% url 'members:my_perks' %}"><i class="fa fa-gift"></i> Мои предложения</a></li>
    <li><a id="MLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> Аккаунт</a>
      <ul class="dropdown-menu" aria-labelledby="MLabel">
        <li><a href="{% url 'members:edit_info' %}"><i class="fa fa-edit"></i> Редактировать</a></li>
        <li><a href="{% url 'members:change_password' %}"><i class="fa fa-key"></i> Сменить пароль</a></li>
      </ul>	
    </li>
    <li><a href="{% url 'members:logout' %}"><i class="fa fa-power-off"></i> Выйти</a></li>
  </ul>	
{% endblock %}
{% block dashboard-content %}
<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ company.name }} <small>&emsp;Показатели</small></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="dashboard-info-box">
      <div class="dashboard-info color-1">
          <h4>153</h4> <span>Предложений использовано</span>
      </div>
      <div class="dashboard-info color-4">
          <h4>89</h4> <span>Активных сотрудников</span>
      </div>
      <div class="dashboard-info color-5">
          <h4>85%</h4> <span>Используют сервис</span>
      </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <h4>Сотрудники</h4> 
  </div>
  <div class="col-md-6">
    <a href="{% url 'customers:add_members' %}" class="btn active btn-sm pull-right">
      <i class="fa fa-plus-circle"></i>&nbsp; Добавить сотрудников
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="{% url 'customers:delete_members' %}" method="POST">
    {% csrf_token %}
    <table id="employees_table" class="table table-bordered table-hover">
      <thead class="bg-info">
        <tr>
          <th class="col-md-1">#</th>
          <th class="col-md-3">Email</th>
          <th class="col-md-3">Имя</th>
          <th class="col-md-3">Фамилия</th>
          <th class="col-md-1">Активен?</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for member in company.members.all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.first_name }}</td>
          <td>{{ member.last_name }}</td>
          <td>
            {% if member.is_active %}
            <span class="label label-success">Да</span>
            {% else %} 
            <span class="label label-default">Нет</span>
            {% endif %}
          </td>
          <td>
            {% if member.is_admin %}
            <span class="label label-warning">Администратор</span> 
            {% else %}
            <input type="checkbox" name="to_delete" value="{{ member.pk }}">
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
		<hr>
    <button type="submit" class="btn red btn-sm">
      <i class="fa fa-trash"></i>&nbsp; Удалить выбранных сотрудников
    </button>
    </form>
  </div>
</div>
<br>
{% endblock %}

{% block modal %}

<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body col-md-12">
        {% if messages %}
          {% for message in messages %}
          <p class="{{ message.tags }}">
            <strong>
            {{ message }}
            </strong>
          </p>
          {% endfor %}
        {% endif %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть окно</button>
				</div>
			</div>

		</div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#employees_table').DataTable({
			"language": {
					"decimal":        "",
					"emptyTable":     "У Вас пока нет сотрудников",
					"info":           "Показано _START_ - _END_ из _TOTAL_ записей",
					"infoEmpty":      "Показано 0 - 0 из 0 записей",
					"infoFiltered":   "(фильтр из всего _MAX_ записей)",
					"infoPostFix":    "",
					"thousands":      ",",
					"lengthMenu":     "Показывать _MENU_ на странице",
					"loadingRecords": "Загрузка...",
					"processing":     "Обработка запроса...",
					"search":         "Поиск:",
					"zeroRecords":    "Ничего не найдено",
					"paginate": {
							"first":      "Начало",
							"last":       "Конец",
							"next":       "Вперед",
							"previous":   "Назад"
					}
			}
});
} );
</script>
{% if messages %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}

