{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="dashboard_container">
  <header id="header">
          <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                 <div class="navbar-header">
                  <div class="logo"> 
                    <a href="{% url 'perks:index' %}"><img src="assets/images/logo.png" alt="Benefits"/></a> 
                  </div>
                  <div id="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i></div>
                </div>
                  <div class="collapse navbar-collapse" id="navigation">
                    <div class="submit_listing">
                        <a href="{% url 'perks:index' %}" class="btn outline-btn">
                            <i class="fa fa-arrow-circle-left"></i> Возврат на сайт 
                        </a>
                   </div>
                  </div>
               </div>   
          </nav>
  </header>

  <div id="dashboard">

    <div id="dashboard-nav" class="dashboard-nav">	
      {% block dashboard-nav %}
      {% endblock %}
    </div>

    <div class="dashboard-content">
      {% block dashboard-content %} 
      {% endblock %}
    </div>

  </div>

</div>

  {% block modal %}
  {% endblock %}
{% endblock %}
