{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard-nav %}
  <ul>
    {% if request.user.is_company_admin %}
    <li><a href="{% url 'customers:dashboard' %}"><i class="fa fa-cogs"></i> Панель управления</a></li>
    {% endif %}
    <li><a href="{% url 'members:my_perks' %}"><i class="fa fa-gift"></i> Мои предложения</a></li>
    <li class="active"><a id="MLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> Аккаунт</a>
      <ul class="dropdown-menu" aria-labelledby="MLabel">
        <li><a href="{% url 'members:edit_info' %}"><i class="fa fa-edit"></i> Редактировать</a></li>
        <li><a href="{% url 'members:change_password' %}"><i class="fa fa-key"></i> Сменить пароль</a></li>
      </ul>	
    </li>
    <li><a href="{% url 'members:logout' %}"><i class="fa fa-power-off"></i> Выйти</a></li>
  </ul>	
{% endblock %}
{% block dashboard-content %}
<div class="row">
  <div class="col-md-6">
    <div class="add_listing_info">
      <form method="POST" action="" class="form-signin">
        {% csrf_token %}
        <h3>Сменить пароль</h3>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissable {{ message.tags }}">
            <strong>
            {{ message }}
            </strong>
          </div>
          {% endfor %}
        {% endif %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить изменения</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
