{% extends 'customer/index.html' %}
{% load static crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST" action="" class="form-signin">
      {% csrf_token %}
      <h2 class="form-signin-heading">Смена пароля</h2>
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissable {{ message.tags }}">
          <strong>
          {{ message }}
          </strong>
        </div>
        {% endfor %}
      {% endif %}
      {{ form|crispy }}
      <button class="btn btn-lg btn-primary btn-block"
        type="submit">Сохранить изменения</button>
    </form>
  </div>
{% endblock %}
