{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="primary-bg">
	<div class="container">
    	<div id="login_signup">
            <div class="form_wrap_m">
            	<div class="white_box">
                	<h3>Регистрация</h3>
                  <div class="alert alert-dismissable alert-info">
                  Для завершения активации аккаунта Benefits, заполните небольшую форму:
                  </div>
                  {% if error %}
                  <div class="alert alert-dismissible alert-danger">
                    {{ error }}
                  </div>
                  {% endif %}
                  {% crispy form %}
              </div>
            </div>
      </div>
  </div>
</section>
{% endblock %}
