{% extends 'base.html' %}

{% block content %}
<section class="primary-bg">
	<div class="container">
    	<div id="login_signup">
            <div class="form_wrap_m">
            	<div class="white_box">
                	<h3>Добро пожаловать!</h3>
                  <div class="alert alert-dismissable alert-info">
                    Поздравляем! Вы успешно зарегистрированы в сервисе Benefits. Теперь у Вас появился доступ ко всем предложениям!
                  </div>
                  <a class="btn btn-block" href={% url 'perks:index' %}>
                    Начать работу с сервисом
                  </a>
              </div>
            </div>
      </div>
  </div>
</section>
{% endblock %}
