{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="well form-signin text-center">
    <h2>Добро пожаловать!</h2>
    <p class="lead">Вы успешно зарегистрированы в Benefits.</p>
    <div class="row text-center">
    <a class="btn btn-primary" href={% url 'perks:index' %}>Начать работу с
      сервисом</a>
    </div>
  </div>
</div>
{% endblock %}
