{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
<div class="container">
      <form method="POST" action="" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Регистрация</h2>
        <h5 class="form-signin-heading">Для завершения активации аккаунта
          Benefits, заполните небольшую форму:</h5>
        {% if error %}
        <div class="alert alert-dismissible alert-danger">
          {{ error }}
        </div>
        {% endif %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block"
          type="submit">Зарегистрироваться</button>
      </form>

    </div>
{% endblock %}
