{% extends 'base.html' %}

{% block header %}
  {% include "perks/navigation.html" %}
{% endblock %}

{% block content %}

<div class="container">

  <div class="jumbotron">
    <h1>Слайдер</h1>
    <p>Здесь будут отображаться наиболее горячие предложения.</p>
    <p><a class="btn btn-primary btn-lg">Узнать больше</a></p>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        <a href="{% url 'perks.index' %}" class="btn btn-{% if active_category %}default{% else %}primary{% endif %}">Все</a>
        {% for category in categories %}
        <a href="{{ category.get_absolute_url }}" class="btn btn-{% if active_category == category %}primary{% else %}default{% endif %}">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <strong>
      <a class="text-info" href="#">Все предложения</a>&emsp;
      <a class="text-muted" href="#">Самые популярные</a>&emsp;
      <a class="text-muted" href="#">Новинки</a>&emsp;
      </strong>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Поиск по предложениям">
        </div>
        <button type="submit" class="btn btn-primary">Найти</button>
      </form>
    </div>
  </div>

	<br>

  <div class="row">
  {% for perk in perks %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="{{ perk.get_absolute_url }}">
          <img class="img-responsive" src="{{ perk.thumbnail }}">
          </a>
        </div>
        <div class="panel-footer">
          <h4>{{ perk.partner.name }}</h4>
          <p>{{ perk.short_description }}</p>
          <a href="{{ perk.get_absolute_url }}" class="btn btn-info left">Подробнее</a>	
          <a href="{{ perk.get_absolute_url }}" class="btn btn-primary pull-right">Получить</a>	
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  {% if perks.paginator.num_pages > 1 %}
  <div class="row text-center">
		<ul class="pagination">
      {% if perks.has_previous %}
      <li><a href="?page={{ perks.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      {% for page in perks.paginator.page_range %}
        <li {% if perks.number == page %}class="active"{% endif %}><a href="#">{{ page }}</a></li>
      {% endfor %}
      {% if perks.has_next %}
      <li><a href="?page={{ perks.next_page_number }}">&raquo;</a></li>
      {% endif %}
		</ul>
 </div>
 {% endif %}

</div>

{% endblock %}

{% block footer %}
<footer class="footer" style="background-color: #333333">
	<div class="center-block">
    <br>
		<h5 class="text-center" style="color: #ffffff">Benefits 2017</h5>
    <br>
	</div>
</footer>
{% endblock %}
