{% extends 'base.html' %}
{% load static %}

{% block header %}
  {% include "perks/partials/navigation.html" %}
{% endblock %}

{% block content %}

<section id="inner_banner" class="parallex-bg" style="background: url({% static 'img/teamwork.jpg' %}">
	<div class="container">
    	<div class="white-text text-center div_zindex">
        	<h1>How it Work </h1>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>

<nav id="category_menu" class="navbar navbar-default" data-spy="affix" data-offset-top="462">
  <div class="container">
    <ul class="nav nav-pills nav-justified">
    {% for category in categories %}
        <li>
        <div class="category_item">
          <a href="{{ category.get_absolute_url }}">
            <div class="category_icon">
            {{ category.render_icon }}
            </div>
            <p>
            {{ category.name }}
            </p>
          </a>
        </div>
        </li>
    {% endfor %}
    </ul>
  </div>
</nav>


<section id="grid">
	<div class="container">
    	<div class="listing_header">
          <a class="active" href="">Все предложения</a>
          <a href="">Новинки</a>
            <form class="navbar-form navbar-right perks-search" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск по предложениям">
              </div>
              <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
            </form>
        </div>

    	<div class="row">

        {% for i in "xxxxxx" %}
          {% for perk in perks %}
            <div class="col-md-4 grid_view show_listing">
            	<div class="listing_wrap">
                    <div class="listing_img">
                        <a href="{{ perk.get_absolute_url }}"><img src="{{ perk.thumbnail }}" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="{{ perk.category.get_absolute_url }}">{{ perk.category.name }}</a>
                        </div>
                        <h4><a href="#">{{ perk.partner.name }}</a></h4>
                        <p>{{ perk.title }}</p>

                        <div class="listing_review_info">
                          <a href="{{ perk.get_absolute_url }}" class="
                            outline-btn btn-sm pull-left">Подробнее</a>
                          <button data-toggle="modal"
                            data-target="#add_perk_modal" class="btn btn-sm pull-right">Получить</button>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %} 
        {% endfor %}

        </div>

        {% if perks.paginator.num_pages > 1 %}
    		<nav class="pagination_nav">
            <ul class="pagination">
              {% if perks.has_previous %}
                <li><a href="?page={{ perks.previous_page_number }}" aria-label="Назад"><span aria-hidden="true">&laquo;</span></a></li>
              {% endif %}

              {% for page in perks.paginator.page_range %}
                <li {% if perks.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
              {% endfor %}

              {% if perks.has_next %}
                <li><a href="?page={{ perks.next_page_number }}" aria-label="Вперёд"><span aria-hidden="true">&raquo;</span></a></li>
              {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>
</section>

{% include 'perks/partials/modals.html' %}

{% endblock %}

{% block footer %}
<footer class="footer secondary-bg">
	<div class="container">
		<div class="center-block">
			<br>
			<h5 class="text-center" style="color: #ffffff">Benefits 2017</h5>
			<br>
		</div>
	</div>
</footer>
{% endblock %}
