{% extends 'perks/index.html' %}
{% load static %}

{% block content %}

<section id="perk_detail_top" class="section-padding" style="background: url({% static 'img/doodles.png' %})">
	<div class="container">
    <ol class="breadcrumb hidden-sm hidden-xs">
      <li><a href="{% url 'perks:index' %}">Все предложения</a></li>
      <li><a href="{{ perk.category.get_absolute_url }}">{{ perk.category.name }}</a></li>
      <li class="active">{{ perk.title }}</li>
    </ol>
    <ol class="breadcrumb breadcrumb_mobile hidden-md hidden-lg">
      <li><a href="{% url 'perks:index' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{{ perk.category.get_absolute_url }}">{{ perk.category.name }}</a></li>
      <li class="active">{{ perk.partner.name }}</li>
    </ol>
    <div class="perk_table">
        <div class="perk_row">
              <div class="left_side">
                  <img src="{{ perk.thumbnail }}" alt="image">
                  <span class="discount label">{{ perk.discount }}</span>
              </div>
              <div class="right_side">
                  <div class="perk_info">
                    <h1>{{ perk.title }}</h1>
                    <hr>
                    <p class="lead">{{ perk.short_description }}</p>
                    <div class="row">
                      <p>
                      <div class="col-md-3">Размер скидки: </div>
                      <div class="col-md-9"><strong>{{ perk.discount }}</strong></div>
                      </p>
                    </div>
                    <div class="row">
                      <p>
                      <div class="col-md-3">Партнер: </div>
                      <div class="col-md-9"><strong>{{ perk.partner.name }}</strong></div>
                      </p>
                    </div>
                    {% if not perk.active %}
                    <div class="alert alert-dismissable alert-danger">Предложение неактивно</div>
                    {% endif %}
                  </div>
                  <div class="perk_buttons">
                      <a href="{{request.META.HTTP_REFERER}}" class="btn back_to_perks_btn hidden-xs hidden-sm">
                        <i class="fa fa-arrow-circle-left"></i> Назад
                      </a>
                      {% if perk.active %}
                      <a class="btn get_perk_btn" {% if request.user.is_member %}data-toggle="modal" data-target="#add_perk_modal" href="{{ perk.get_modal_url }}" data-remote="{{ perk.get_modal_url }}"{% else %}href="{% url 'members:sign_in' %}"{% endif %}>
                        <i class="fa fa-gift"></i>&nbsp;Получить
                      </a>
                      {% endif %}
                  </div>
              </div>
        </div>
    </div>
	</div>
  <div class="blue-overlay">
  </div>
</section>


<section class="listing_info_wrap listing_detail_2">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="listinghub_sidebar">
          <div class="sidebar_wrap listing_contact_info">
              <div class="widget_title">
                  <h6>Описание</h6>
              </div>
              <p> {{ perk.full_description|safe }}</p>
          </div>
        </div>       
      </div>
      <div class="col-md-5">
        <div class="listinghub_sidebar">
          <div class="sidebar_wrap listing_contact_info">
              <div class="widget_title">
                  <h6>Контактная информация</h6>
              </div>
              <ul>
                  {% if perk.address %}
                  <li><i class="fa fa-map-marker"></i> {{ perk.address }}</li>
                  {% endif %}
                  {% if perk.phone_number %}
                  <li><i class="fa fa-phone"></i> {{ perk.phone_number }}</a></li>
                  {% endif %}
                  {% if perk.website %}
                  <li><i class="fa fa-link"></i> <a href="{{ perk.website }}">{{ perk.website }}</a></li>
                  {% endif %}
              </ul>
          </div>
        </div> 
        {% if perk.geoposition %}
        <div id="single_map">
            <div class="widget_title">
                  <h4>Местоположение</h4>
            </div>
            <div id="singleListingMap-container">
              <div id="singleListingMap" data-latitude="{{ perk.geoposition.latitude|stringformat:'f' }}" data-longitude="{{ perk.geoposition.longitude|stringformat:'f' }}"></div>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<div id="add_perk_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCdsWaVGXurRzktLrqFL4yk1Ii3Fl0Yn3A&language=ru"></script>
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}
