{% extends 'perks/index.html' %}
{% load static %}

{% block content %}

<section id="perk_detail_top" class="section-padding" style="background: #03aee9">
	<div class="container">
    <div class="perk_table">
        <div class="perk_row">
              <div class="left_side">
                  <img src="{{ perk.thumbnail }}" alt="image">
              </div>
              <div class="right_side">
                  <div class="perk_info">
                    <h3>{{ perk.title }}</h3>
                    <hr>
                    <p class="lead">{{ perk.short_description }}</p>
                    {% if not perk.active %}
                    <div class="alert alert-dismissable alert-danger">Предложение неактивно</div>
                    {% endif %}
                  </div>
                  <div class="perk_buttons">
                      <a href="{{request.META.HTTP_REFERER}}" class="btn back_to_perks_btn">
                        <i class="fa fa-arrow-circle-left"></i> Назад
                      </a>
                      {% if perk.active %}
                      <a class="btn get_perk_btn" {% if request.user.is_member %}data-toggle="modal" data-target="#add_perk_modal" href="{{ perk.get_modal_url }}" data-remote="{{ perk.get_modal_url }}"{% else %}href="{% url 'members:sign_in' %}"{% endif %}>
                        <i class="fa fa-gift"></i>&nbsp;Получить
                      </a>
                      {% endif %}
                  </div>
              </div>
        </div>
    </div>
	</div>
</section>


<section class="listing_info_wrap listing_detail_2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="listinghub_sidebar">
          <div class="sidebar_wrap listing_contact_info">
              <div class="widget_title">
                  <h6>Описание</h6>
              </div>
              <p> {{ perk.full_description|safe }}</p>
          </div>
        </div>       
      </div>
      <div class="col-md-4">
        <div class="listinghub_sidebar">
          <div class="sidebar_wrap listing_contact_info">
              <div class="widget_title">
                  <h6>Контактная информация</h6>
              </div>
              <ul>
                  {% if perk.address %}
                  <li><i class="fa fa-map-marker"></i> PO Box 1025MNO Collins Street West Victoria 8007 Australia</li>
                  {% endif %}
                  {% if perk.phone_number %}
                  <li><i class="fa fa-phone"></i> <a href="tel:+61-1234-5678-09">+61-1234-5678-09</a></li>
                  {% endif %}
                  {% if perk.website %}
                  <li><i class="fa fa-link"></i> <a href="www.example.com">www.example.com</a></li>
                  {% endif %}
              </ul>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>

<div id="add_perk_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock %}
